# Allow user access to supported ITE / Lenovo USB / hidraw devices.
# Name is based on the ITE8291 Wootbook, but the rules apply to all supported devices (historical artifact)

# Use seat-based ACLs (uaccess) instead of making the device world-writable.
# Some setups only apply the ACL reliably when explicitly invoking the uaccess
# builtin.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6004", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6006", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6008", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="600a", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="600b", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="ce00", TAG+="uaccess", RUN{builtin}+="uaccess"
# Lenovo Gen10 composite (keyboard + chassis lighting)
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="c193", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="c197", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="8910", TAG+="uaccess", RUN{builtin}+="uaccess"
# Lenovo 4-zone ITE 8295 family (same protocol, multiple PIDs)
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c955", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c963", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c965", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c973", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c975", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c984", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c985", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c195", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="c197", TAG+="uaccess", RUN{builtin}+="uaccess"
# ITE 8233 / 8291 rev 0.03 lightbar family (Clevo/Tongfang lightbars)
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="6010", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="7000", TAG+="uaccess", RUN{builtin}+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="7001", TAG+="uaccess", RUN{builtin}+="uaccess"
