# Allow user access to ITE 8291 USB device.
#
# Use seat-based ACLs (uaccess) instead of making the device world-writable.
# Some setups only apply the ACL reliably when explicitly invoking the uaccess
# builtin.
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6004", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6006", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="6008", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="600a", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="600b", TAG+="uaccess", RUN{builtin}+="uaccess"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="048d", ATTR{idProduct}=="ce00", TAG+="uaccess", RUN{builtin}+="uaccess"
